[alias]
  a = add
  b = branch -v
  c = commit
  co = checkout
  cob = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
  d = diff
  dt = difftool
  l = log --pretty=format:'%C(Yellow)%h%C(reset) - %C(cyan)%cr%C(reset) : %C(blue)%an%C(reset)%C(auto)%d%C(reset)%n%s%n' --graph
  lm = "!git log --pretty=format:'%C(Yellow)%h%C(reset) - %C(cyan)%cr%C(reset) : %C(blue)%an%C(reset)%C(auto)%d%C(reset)%n%s%n' --graph --abbrev-commit --author=\"$(git config user.name)\""
  pl = pull --prune
  ps = push
  s = status
  sh = show
  ss = stash -u
  ssl = stash list
  ssa = stash apply
  ssd = stash drop
  ssp = stash pop
  up = "!f() { \
    old_stash=$(git rev-parse -q --verify refs/stash); \
    git stash; \
    new_stash=$(git rev-parse -q --verify refs/stash); \
    git pull --prune; \
    [ \"$old_stash\" != \"$new_stash\" ] && git stash pop; \
  }; f"
[color]
  ui = auto
[cola]
  fontdiff = Droid Sans Mono,11,-1,5,50,0,0,0,0,0
[diff]
  tool = vimdiff
  guitool = gvimdiff
[difftool]
  prompt = false
[gui]
  historybrowser = git-dag
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
[push]
  default = simple
[user]
  name = Tim Bovelander
  email = tim@timenwietske.nl
