[alias]
  a = add
  b = branch -v
  c = commit
  co = checkout
  d = diff
  dt = difftool
  l = log --pretty=format:'%C(Yellow)%h%C(reset) - %C(cyan)%cr%C(reset) : %C(blue)%an%C(reset)%C(auto)%d%C(reset)%n%s%n' --graph
  lm = "!git log --pretty=format:'%C(Yellow)%h%C(reset) - %C(cyan)%cr%C(reset) : %C(blue)%an%C(reset)%C(auto)%d%C(reset)%n%s%n' --graph --abbrev-commit --author=\"$(git config user.name)\""
  pl = pull --prune
  ps = push
  s = status
  sh = show
  ss = stash -u
  ssl = stash list
  ssa = stash apply
  ssd = stash drop
  ssp = stash pop
[color]
  ui = auto
[core]
	excludesfile = ~/.gitignore
[diff]
  tool = vimdiff
  guitool = gvimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
[push]
  default = simple
[user]
  name = Tim Bovelander
  email = tim@timenwietske.nl
