[alias]
  a = add
  b = branch -v
  bd = branch -D
  bp = "!git branch --merged master | grep -v '^[ *]*master$' | xargs -r git branch -d"
  c = commit
  cl = clone
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  d = diff
  f = flow
  ff = flow feature
  ffs = flow feature start
  fff = flow feature finish
  fh = flow hotfix
  fhs = flow hotfix start
  fhf = flow hotfix finish
  fr = flow release
  frs = flow release start
  frf = flow release finish
  fs = flow support
  fss = flow support start
  g = grep
  ga = "!git rev-list --all | xargs git grep"
  l = log --graph --pretty=format:'%C(Yellow)[%h]%C(reset)  %C(cyan)[%cd]%C(reset)  %C(blue)[%an]%C(reset)  %C(auto)%D%C(reset)%n%s%n' --date=format:'%d-%m-%Y %H:%M'
  lm = "!git l --author=\"$(git config user.name)\""
  ll = log --graph --pretty=format:'%C(Yellow)[%h]%C(reset)  %C(cyan)[%cd]%C(reset)  %C(blue)[%an]%C(reset)  %C(auto)%D%C(reset)%n%s' --date=format:'%d-%m-%Y %H:%M' --numstat
  llm = "!git ll --author=\"$(git config user.name)\""
  m = merge
  pl = pull --prune
  ps = push
  psf = push --force-with-lease
  pso = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"
  r = reset
  rh = reset --hard
  rv = revert --no-commit
  s = status
  sh = show
  ss = stash -u
  ssl = stash list
  ssa = stash apply
  ssd = stash drop
  ssp = stash pop
[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
[include]
  path = ~/.gitconfig.local
[pull]
	rebase = false
