"*":
  core:
    audioBeep: false,
    customFileTypes:
      "text.html.mustache": ["template"]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 15
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
