'.source.js':
  'Function':
    'prefix': 'fun'
    'body': 'function ${1:functionName}($2) {\n\t$3\n}'
  'Variable Function':
    'prefix': 'fun='
    'body': '${4:let} ${5:${1:functionName}} = function ${1:functionName}($2) {\n\t$3\n};'
  'Object Function':
    'prefix': 'fun:'
    'body': '${4:${1:functionName}}: function ${1:functionName}($2) {\n\t$3\n},'
  'Require':
    'prefix': 'req'
    'body': 'require(\'${1:moduleName}\')'
  'Variable Require':
    'prefix': 'req='
    'body': '${3:const} ${2:$1} = require(\'${1:moduleName}\');'
