"*":
  core:
    audioBeep: false
    closeEmptyWindows: false
    customFileTypes:
      "source.json": [
        "schema"
      ]
      "text.html.mustache": [
        "template"
      ]
    packagesWithKeymapsDisabled: [
      "emmet"
      "atom-ternjs"
      "recent-files-fuzzy-finder"
    ]
    projectHome: "~/projects"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Roboto Mono"
    fontSize: 16
    showIndentGuide: true
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    flashOnOperate: false
    flashOnSearch: false
    flashScreenOnSearchHasNoMatch: false
    highlightSearch: true
    incrementalSearch: true
    setCursorToStartOfChangeOnUndoRedo: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
