"*":
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeEmptyWindows: false
    customFileTypes:
      "source.js": [
        "script"
      ]
      "source.json": [
        "schema"
      ]
      "text.html.mustache": [
        "template"
      ]
    disabledPackages: [
      "whitespace"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
      "atom-ternjs"
      "recent-files-fuzzy-finder"
      "lipsum"
      "fuzzy-finder"
      "tree-view"
    ]
    projectHome: "~/projects"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Input Mono"
    fontSize: 16
    lineHeight: 1.8
    showIndentGuide: true
  "file-icons":
    coloured: false
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    flashOnOperate: false
    flashOnSearch: false
    flashScreenOnSearchHasNoMatch: false
    highlightSearch: true
    incrementalSearch: true
    setCursorToStartOfChangeOnUndoRedo: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
