"*":
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeEmptyWindows: false
    customFileTypes:
      "source.js": [
        "script"
      ]
      "source.json": [
        "schema"
      ]
      "text.html.mustache": [
        "template"
      ]
    disabledPackages: [
      "whitespace"
      "about"
      "autosave"
      "background-tips"
      "bookmarks"
      "dev-live-reload"
      "exception-reporting"
      "go-to-line"
      "line-ending-selector"
      "metrics"
      "open-on-github"
      "package-generator"
      "styleguide"
      "symbols-view"
      "timecop"
      "update-package-dependencies"
      "welcome"
    ]
    packagesWithKeymapsDisabled: [
      "bracket-matcher"
      "command-palette"
      "encoding-selector"
      "fuzzy-finder"
      "git-diff"
      "grammar-selector"
      "link"
      "notifications"
      "open-on-github"
      "spell-check"
      "tabs"
      "autocomplete-plus"
      "tree-view"
      "git-blame"
      "emmet"
      "git-plus"
      "project-plus"
    ]
    projectHome: "~/Projects"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Input Mono"
    fontSize: 16
    lineHeight: 1.8
    showIndentGuide: true
  "expand-region": {}
  "fuzzy-finder":
    searchAllPanes: true
  "git-blame":
    columnWidth: 300
    showOnlyLastNames: false
  "git-plus":
    showFormat: "none"
    splitPane: "Right"
  linter: {}
  narrow:
    SearchDefaultAutoPreview: false
    directionToOpen: "down"
  "project-plus":
    projectHome: " ~/Projects"
    showPath: true
  "spell-check":
    locales: [
      "en-US"
      "nl-NL"
    ]
  "vim-mode-plus":
    flashOnOperate: false
    flashOnSearch: false
    flashOnUndoRedo: false
    flashScreenOnSearchHasNoMatch: false
    highlightSearch: true
    incrementalSearch: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
