'atom-text-editor.mini, .vim-mode-plus.insert-mode':
  'space': 'native!'

'atom-workspace':
  'space tab': 'pane:switch-next-recently-used-item'
  'space /': 'fuzzy-grep:toggle'
  'space space': 'command-palette:toggle'

  'space a c': 'application:open-your-config'
  'space a d': 'tree-view:toggle-focus'
  'space a i': 'application:open-your-init-script'
  'space a k': 'application:open-your-keymap'
  'space a r': 'window:reload'
  'space a s': 'application:show-settings'

  'space b b': 'fuzzy-finder:toggle-buffer-finder'
  'space b d': 'core:close-force'
  'space b e': 'editor:delete-all'
  'space b m': 'tabs:close-other-tabs'
  'space b N': 'application:new-file'
  'space b n': 'pane:show-next-item'
  'space b p': 'pane:show-previous-item'
  'space b s': 'editor:scratch'
  'space b y': 'editor:copy-all'

  'space e l': 'diagnostics:toggle-table'
  'space e f': 'diagnostics:fix-all-in-current-file'
  'space e n': 'diagnostics:go-to-next-diagnostic'
  'space e p': 'diagnostics:go-to-previous-diagnostic'

  'space f f': 'fuzzy-finder:toggle-file-finder'
  'space f s': 'core:save'

  'space g s': 'github:toggle-git-tab-focus'

  'space p b': 'fuzzy-finder:toggle-buffer-finder'
  'space p d': 'tree-view:reveal-active-file'
  'space p D': 'tree-view:toggle-focus'
  'space p f': 'fuzzy-finder:toggle-file-finder'
  'space p o': 'project-plus:open'
  'space p p': 'project-plus:toggle-project-finder'
  'space p r': 'project-plus:remove'

  'space m g': 'hyperclick:confirm-cursor'

  # 'space s a': 'narrow:search'
  # 'space s b': 'narrow:lines'
  # 'space s p': 'narrow:search-current-project'

  'space q q': 'window:close'

  'space v': 'vim-mode-plus:activate-characterwise-visual-mode'

  'space w left': 'window:focus-pane-on-left'
  'space w down': 'window:focus-pane-below'
  'space w up': 'window:focus-pane-above'
  'space w right': 'window:focus-pane-on-right'
  'space w h': 'window:focus-pane-on-left'
  'space w j': 'window:focus-pane-below'
  'space w k': 'window:focus-pane-above'
  'space w l': 'window:focus-pane-on-right'
  'space w tab': 'window:focus-next-pane'
  'space w d': 'pane:close'
  'space w -': 'pane:split-down-and-copy-active-item'
  'space w /': 'pane:split-right-and-copy-active-item'

  'space z 0': 'window:reset-font-size'
  'space z -': 'window:decrease-font-size'
  'space z =': 'window:increase-font-size'

'atom-text-editor.vim-mode-plus.normal-mode':
  ': w enter': 'core:save'

  'enter': 'editor:newline-below'
  'shift-enter': 'editor:newline-above'

  'g c c': 'editor:toggle-line-comments'

  'y s': 'vim-mode-plus:surround'
  'c s': 'vim-mode-plus:change-surround'
  'd s': 'vim-mode-plus:delete-surround'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'home': 'vim-mode-plus:move-to-first-character-of-line'
  'end': 'vim-mode-plus:move-to-last-character-of-line'

  'g c': 'vim-mode-plus:toggle-line-comments'
  'g C': 'vim-mode-plus:camel-case'

# 'atom-text-editor.vim-mode-plus.visual-mode':
  # 'v': 'expand-region:expand'
  # 'V': 'expand-region:shrink'

'.tree-view':
  'enter': 'tree-view:open-selected-entry-and-toggle'
  'escape': 'tree-view:toggle'
  '+': 'tree-view:add-folder'
  'C': 'tree-view:duplicate'
  'D': 'tree-view:remove'
  'n': 'tree-view:add-file'
  'R': 'tree-view:rename'
  'q': 'tree-view:toggle'
  'left': 'tree-view:collapse-directory'
  'right': 'tree-view:expand-item'
  'h': 'tree-view:collapse-directory'
  'j': 'core:move-down'
  'k': 'core:move-up'
  'l': 'tree-view:expand-item'

'.github-Panel':
  'escape': 'github:toggle-git-tab'
  'q': 'github:toggle-git-tab'
'.github-StagingView':
  'enter': 'core:move-left'
  'c': 'github:toggle-expanded-commit-message-editor'
'.github-StagingView.unstaged-changes-focused':
  's': 'core:confirm'
'.github-StagingView.staged-changes-focused':
  'u': 'core:confirm'
'.github-CommitView-editor':
  'space': 'native!'
'.github-FilePatchView':
  'escape': 'tabs:close-tab'
  'q': 'tabs:close-tab'
  'delete': 'github:discard-selected-lines'

'atom-text-editor[data-grammar~="html"].vim-mode-plus:not(.insert-mode),
atom-text-editor[data-grammar~="xml"].vim-mode-plus:not(.insert-mode)':
  '%': 'bracket-matcher:go-to-matching-bracket'

'atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="html"]:not([mini]):not(.autocomplete-active),
 atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="xml"]:not([mini]):not(.autocomplete-active)':
  'enter': 'emmet:insert-formatted-line-break-only'

'atom-text-editor.vim-mode-plus.insert-mode[data-grammar="text html basic"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="erb"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="jade"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="css"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="stylus"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="sass"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="scss"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="mustache"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'

'.platform-darwin atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-a': 'vim-mode-plus:move-to-first-character-of-line'
  'ctrl-e': 'vim-mode-plus:move-to-last-character-of-line'
