'atom-text-editor':
  'space': 'native!'

'atom-workspace, atom-text-editor.vim-mode-plus.normal-mode':
  'space :': 'command-palette:toggle'

  'space /': 'find-and-replace:show'
  'space \\': 'project-find:show'
  'space tab': 'pane:show-next-recently-used-item'

  'space b d': 'tabs:close-tab'
  'space b D': 'tabs:close-all-tabs'
  'space b k': 'tabs:close-saved-tabs'
  'space b K': 'tabs:close-other-tabs'

  'space g a': 'git-plus:add'
  'space g A': 'git-plus:add-all'
  'space g c': 'git-plus:commit'
  'space g d': 'git-plus:diff'
  'space g D': 'git-plus:diff-all'
  'space g g': 'git-plus:menu'
  'space g l': 'git-plus:log-current-file'
  'space g L': 'git-plus:log'
  'space g p': 'git-plus:pull'
  'space g P': 'git-plus:push'
  'space g s': 'git-plus:status'

  'space p b': 'fuzzy-finder:toggle-buffer-finder'
  'space p d': 'tree-view:reveal-active-file'
  'space p D': 'tree-view:show'
  'space p f': 'fuzzy-finder:toggle-file-finder'
  'space p p': 'project-plus:toggle-project-finder'
  'space p s': 'fuzzy-grep:toggle'

  'space q q': 'window:close'

  'space w h': 'window:focus-pane-on-left'
  'space w left': 'window:focus-pane-on-left'
  'space w l': 'window:focus-pane-on-right'
  'space w right': 'window:focus-pane-on-right'
  'space w k': 'window:focus-pane-above'
  'space w up': 'window:focus-pane-above'
  'space w j': 'window:focus-pane-below'
  'space w down': 'window:focus-pane-below'
  'space w tab': 'window:focus-next-pane'
  'space w c': 'pane:close'
  'space w -': 'pane:split-down-and-copy-active-item'
  'space w /': 'pane:split-right-and-copy-active-item'

'atom-text-editor.vim-mode-plus.normal-mode':
  'enter': 'editor:newline-below'
  'shift-enter': 'editor:newline-above'

  'y s': 'vim-mode-plus:surround'
  'c s': 'vim-mode-plus:change-surround'
  'd s': 'vim-mode-plus:delete-surround'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'home': 'vim-mode-plus:move-to-first-character-of-line'

'atom-text-editor.vim-mode-plus.visual-mode':
  '+': 'expand-region:expand'
  '=': 'expand-region:expand'
  '_': 'expand-region:shrink'
  '-': 'expand-region:shrink'

'.tree-view':
  '+': 'tree-view:add-folder'
  'd': 'tree-view:remove'
  'n': 'tree-view:add-file'
  'q': 'tree-view:toggle'

'atom-text-editor[data-grammar="source diff"],
.git-plus-log':
  'q': 'tabs:close-tab'

'atom-text-editor[data-grammar~="html"].vim-mode-plus:not(.insert-mode),
atom-text-editor[data-grammar~="xml"].vim-mode-plus:not(.insert-mode)':
  '%': 'bracket-matcher:go-to-matching-bracket'

'atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="html"]:not([mini]):not(.autocomplete-active),
 atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="xml"]:not([mini]):not(.autocomplete-active)':
  'enter': 'emmet:insert-formatted-line-break-only'

'atom-text-editor.vim-mode-plus.insert-mode[data-grammar="text html basic"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="erb"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="jade"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="css"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="stylus"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="sass"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="scss"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="mustache"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'
