'atom-text-editor.mini, .vim-mode-plus.insert-mode':
  'space': 'native!'

'atom-workspace':
  'space tab': 'pane:switch-next-recently-used-item'
  'space *': 'lazy-motion:forward-cursor-word'
  'space /': 'lazy-motion:forward'
  'space :': 'command-palette:toggle'

  'space a d': 'tree-view:toggle'
  'space a i': 'application:open-your-init-script'
  'space a k': 'application:open-your-keymap'
  'space a r': 'window:reload'
  'space a s': 'application:show-settings'

  'space b b': 'fuzzy-finder:toggle-buffer-finder'
  'space b d': 'tabs:close-tab'
  'space b e': 'editor:delete-all'
  'space b m': 'tabs:close-other-tabs'
  'space b N': 'application:new-file'
  'space b n': 'pane:show-next-item'
  'space b p': 'pane:show-previous-item'
  'space b s': 'editor:scratch'
  'space b y': 'editor:copy-all'

  'space e l': 'linter:toggle-panel'
  'space e n': 'linter:next-error'
  'space e p': 'linter:previous-error'

  'space f f': 'fuzzy-finder:toggle-file-finder'
  'space f s': 'core:save'

  'space g a': 'git-plus:add'
  'space g b': 'git-blame:toggle'
  'space g c': 'git-plus:commit'
  'space g d': 'git-plus:diff'
  'space g D': 'git-plus:diff-all'
  'space g g': 'git-plus:menu'
  'space g l': 'git-plus:log-current-file'
  'space g L': 'git-plus:log'
  'space g o': 'git-plus:checkout'
  'space g p': 'git-plus:push'
  'space g P': 'git-plus:pull'
  'space g s': 'git-plus:status'

  'space p b': 'fuzzy-finder:toggle-buffer-finder'
  'space p d': 'tree-view:reveal-active-file'
  'space p D': 'tree-view:show'
  'space p f': 'fuzzy-finder:toggle-file-finder'
  'space p o': 'project-plus:open'
  'space p p': 'project-plus:toggle-project-finder'
  'space p r': 'project-plus:remove'

  'space s a': 'narrow:search'
  'space s b': 'narrow:lines'
  'space s p': 'narrow:search-current-project'

  'space q q': 'window:close'

  'space v': 'vim-mode-plus:activate-characterwise-visual-mode'

  'space w h': 'window:focus-pane-on-left'
  'space w left': 'window:focus-pane-on-left'
  'space w l': 'window:focus-pane-on-right'
  'space w right': 'window:focus-pane-on-right'
  'space w k': 'window:focus-pane-above'
  'space w up': 'window:focus-pane-above'
  'space w j': 'window:focus-pane-below'
  'space w down': 'window:focus-pane-below'
  'space w tab': 'window:focus-next-pane'
  'space w d': 'pane:close'
  'space w -': 'pane:split-down-and-copy-active-item'
  'space w /': 'pane:split-right-and-copy-active-item'

  'space z 0': 'window:reset-font-size'
  'space z -': 'window:decrease-font-size'
  'space z =': 'window:increase-font-size'

'atom-text-editor.vim-mode-plus.normal-mode':
  ': w enter': 'core:save'

  'enter': 'editor:newline-below'
  'shift-enter': 'editor:newline-above'

  'g c c': 'editor:toggle-line-comments'

  'y s': 'vim-mode-plus:surround'
  'c s': 'vim-mode-plus:change-surround'
  'd s': 'vim-mode-plus:delete-surround'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'home': 'vim-mode-plus:move-to-first-character-of-line'
  'end': 'vim-mode-plus:move-to-last-character-of-line'

  'g c': 'vim-mode-plus:toggle-line-comments'
  'g C': 'vim-mode-plus:camel-case'

'atom-text-editor.vim-mode-plus.visual-mode':
  'v': 'expand-region:expand'
  'V': 'expand-region:shrink'

'.tree-view':
  'enter': 'tree-view:open-selected-entry-and-toggle'
  'escape': 'tree-view:toggle'
  '+': 'tree-view:add-folder'
  'C': 'tree-view:duplicate'
  'D': 'tree-view:remove'
  'n': 'tree-view:add-file'
  'R': 'tree-view:rename'
  'q': 'tree-view:toggle'

'atom-text-editor[data-grammar="source diff"],
.git-plus-log':
  'q': 'tabs:close-tab'

'atom-text-editor[data-grammar~="html"].vim-mode-plus:not(.insert-mode),
atom-text-editor[data-grammar~="xml"].vim-mode-plus:not(.insert-mode)':
  '%': 'bracket-matcher:go-to-matching-bracket'

'atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="html"]:not([mini]):not(.autocomplete-active),
 atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="xml"]:not([mini]):not(.autocomplete-active)':
  'enter': 'emmet:insert-formatted-line-break-only'

'atom-text-editor.vim-mode-plus.insert-mode[data-grammar="text html basic"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="erb"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="jade"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="css"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="stylus"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="sass"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="scss"]:not([mini]),
atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="mustache"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'

'.platform-darwin atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-a': 'vim-mode-plus:move-to-first-character-of-line'
  'ctrl-e': 'vim-mode-plus:move-to-last-character-of-line'
